<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindContext"
    providerName="System.Data.SqlClient"
    connectionString="Server=bitsql.wctc.edu;Database=Northwind_20106_tgardella;User ID=tgardella;Password=000535066"/>
  </connectionStrings>
</configuration>
